@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #281647;
  background-image: url('../public/background.png');
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  /* clip-path: polygon(100% 0, 100% 62%, 34% 90%, 0 85%, 0 0); */
}
/* --- Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #1C273B;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #405873;
  border-radius: 100vh;
  border: 1px solid #1C273B;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}
/* --- Modal --- */
.ReactModal__Overlay {
  background: rgba(0,0,0,0.5) !important;
  display: flex;
  justify-content: center;
}
.Modal-Connect-Wallet{
  max-width: 654px;
  width: 100%;
  max-height: 50%;
  height: 100%;
  margin: auto;
  padding: 20px 24px;
}

/* network */
.bg-color-ethereum{
  background-color: #637EEB;
}
.bg-color-ethereum-gradient{
  background: linear-gradient(90deg, #637EEBb0 0%, #637EEB6e 100%);
}
.bg-color-polygon{
  background-color: #8147E6;
}
.bg-color-polygon-gradient{
  background: linear-gradient(90deg, #8147e6b0 0%, #8147e66e 100%);
}
.bg-color-fantom{
  background-color: #196AFF;
}
.bg-color-fantom-gradient{
  background: linear-gradient(90deg, #196AFFb0 0%, #196AFF6e 100%);
}
.bg-color-xdai{
  background-color: #07785E;
}
.bg-color-xdai-gradient{
  background: linear-gradient(90deg, #07785Eb0 0%, #07785E6e 100%);
}
.bg-color-bsc{
  background-color: #F2BA2C;
}
.bg-color-bsc-gradient{
  background: linear-gradient(90deg, #F2BA2Cb0 0%, #F2BA2C6e 100%);
}
.bg-color-arbitrum{
  background-color: #29334A;
}
.bg-color-arbitrum-gradient{
  background: linear-gradient(90deg, #29334Ab0 0%, #29334A6e 100%);
}
.bg-color-avalanche{
  background-color: #E94142;
}
.bg-color-avalanche-gradient{
  background: linear-gradient(90deg, #E94142b0 0%, #E941426e 100%);
}
.bg-color-harmony{
  background-color: #1C1C1C;
}
.bg-color-harmony-gradient{
  background: linear-gradient(90deg, #1C1C1Cb0 0%, #1C1C1C6e 100%);
}
.bg-color-kovan{
  background-color: #6434C9;
}
.bg-color-kovan-gradient{
  background: linear-gradient(90deg, #6434C9b0 0%, #6434C96e 100%);
}
.bg-color-mumbai{
  background-color: #DDD4FA;
}
.bg-color-mumbai-gradient{
  background: linear-gradient(90deg, #DDD4FAb0 0%, #DDD4FA6e 100%);
}
.bg-color-goerli{
  background-color: #22241E;
}
.bg-color-goerli-gradient{
  background: linear-gradient(90deg, #22241Eb0 0%, #22241E6e 100%);
}
.bg-color-ropsten{
  background-color: white;
}
.bg-color-ropsten-gradient{
  background: linear-gradient(90deg, #FFFFFFb0 0%, #FFFFFF6e 100%);
}
.bg-color-rinkeby{
  background-color: #2B3F54;
}
.bg-color-rinkeby-gradient{
  background: linear-gradient(90deg, #2B3F54b0 0%, #2B3F546e 100%);
}
.bg-color-MetaMask{
  background-color: #FFD3A2;
}
.bg-color-MetaMask-gradient{
  background: linear-gradient(90deg, #FFD3A2b0 0%, #FFD3A26e 100%);
}
.bg-color-WalletConnect{
  background-color: #DAECFF;
}
.bg-color-WalletConnect-gradient{
  background: linear-gradient(90deg, #DAECFFb0 0%, #DAECFF6e 100%);
}
.bg-color-gather{
  background-color: #4358D8;
}
.bg-color-gather-gradient{
  background: linear-gradient(90deg, #4358D8b0 0%, #4358D86e 100%);
}
.bg-image-gather{
  background-image: url('../public/network/gather.png');
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image-ethereum{
  background-image: url('../public/network/ethereum.png');
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image-polygon{
  background-image: url('../public/network/polygon.png');
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image-fantom{
  background-image: url('../public/network/fantom.png');
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image-xdai{
  background-image: url('../public/network/xdai.png');
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image-bsc{
  background-image: url('../public/network/bsc.png');
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image-arbitrum{
  background-image: url('../public/network/arbitrum.png');
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image-avalanche{
  background-image: url('../public/network/avalanche.png');
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image-harmony{
  background-image: url('../public/network/harmony.png');
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image-kovan{
  background-image: url('../public/network/kovan.png');
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image-mumbai{
  background-image: url('../public/network/mumbai.png');
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image-goerli{
  background-image: url('../public/network/goerli.png');
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image-ropsten{
  background-image: url('../public/network/ropsten.png');
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image-rinkeby{
  background-image: url('../public/network/rinkeby.png');
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image-MetaMask{
  background-image: url('../public/network/MetaMask.png');
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image-WalletConnect{
  background-image: url('../public/network/WalletConnect.png');
  background-repeat: no-repeat;
  background-position: center;
}